# Python cache
__pycache__/
*.pyc

# Virtual environment
mri_env/

# MRI dataset
autistic/
non-autistic/
processed_dataset/
sample.nii

# Model files
*.h5
*.keras
*.nii
*.nii.gz

# System
.DS_Store
Thumbs.db